<div class="row">
  <div class="col-sm-8" style="margin-left: 30">
        <div class="">
          <img src="https://cdn.pico.vn/Banner/2708_10-ngay-dai-ha-gia-777x301px.jpg" alt="Image">
        </div>
  </div>
  <div class="col-sm-3">
    <div class="">
      <img src="https://cdn.pico.vn/Banner/2727_373x147.jpg">
    </div>
  </div>
</div>
<hr class="style-one">

<div class="container">
<h1 style="text-align:left"><%= t :top_rate %></h1>
  <div class="row">
    <%= render @products %>
  </div>
</div><br>
<div class="container row">
<div class="col-sm-4">
  <div class="well">
    <p>Lien he:</p>
    <p>Cong ty co phan Blecom Viet Nam</p>
    <p>Dia chi Bach Khoa Ha Noi</p>
  </div>
</div>
<div class="col-sm-4">
  <div class="well">
    <p>Cham soc khach hang</p>
    <p>Bao hanh toan quoc</p>
    <p>Giao hang nhanh gon</p>
  </div>
</div>
<div class="col-sm-4">
  <div class="well">
    <p>Quan li tai khoan</p>
    <p>Lay lai thong tin</p>
    <p>Lich su mua hang</p>
  </div>
</div>
</div>
