<div style = "padding-top: 100px">
  <%= form_for @current_order, url: guest_orders_path(guest_order_id: @current_order.id),
    method: :post do |f| %>
        <div class="input-group fields">
  <span class="input-group-addon input-group-addon-2">
    Name
  </span>
  <span class="input-group-addon">Number</span>
  <span class="input-group-addon">Prict</span>
  <span class="input-group-addon">Total Price</span>
  <span class="input-group-addon">
    Action
  </span>
</div>
    <%= f.fields_for :orders do |order_item| %>
      <%= render "order_fields", ff: order_item %>
    <% end %>
    <%= f.submit t(:order), class: "btn btn-primary" %>
  <% end %>
</div>

