@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background: #f1f1f1 none repeat scroll 0 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1;
}
.container{
  width: 95%;
  font-size: 14px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.container ul{
  list-style: none;
}
.bg-blue2{
  background: #0a569b;
}
.div{
  margin: 0;
  padding: 0;
}
.login-header ul li, .phone-header ul li{
  color: #fff;
  float: left;
  padding: 5px 8px 3px 0;
}
.login-header a, .phone-header a, .logo-header a{
  color: #fff;
  font-size: 12px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}
.flRight {
  float: right;
}
ol, ul {
  list-style: outside none none;
}
.logo {
  float: left;
  padding: 10px 0 0;
}
.bg-blue {
  background: #105caa none repeat scroll 0 0;
}
.menu-logo {
  float: right;
  padding: 29px 0 21px;
}
.menu-logo ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
.menu-logo ul {
  margin: 0;
  padding: 0;
}
.menu-logo a:hover {
  background: #096ab2 none repeat scroll 0 0;
  border-bottom: 2px solid #149cef;
  padding: 15px 9px;
  text-decoration: none;
}
.menu-logo a {
  color: #fff;
  font-size: 12px;
  padding: 15px 9px;
  text-transform: uppercase;
}
.col-lg-7{width:58.33333333%;}
.flLeft{
  float:left;
}

.category {
  background: #276bb1;
  height: 49px;
  padding: 5px 0 2px 0;
}
.tit-list {
  padding: 11px 0 16px 5px;
}
.icomnu {
  margin: 0;
  float: left;
  padding-right: 8px;
}
.tit-list a {
  color: #fff;
  margin: 0px 0 0 3px;
  text-decoration: none;
}
.search-pro {
  background: #276bb1 none repeat scroll 0 0;
  margin-left: 15px;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown {
  display: block;
  text-decoration: none;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.product-list {
    margin-top: 5px;
}
.bg-white {
  background: #fff none repeat scroll 0 0;
}
.padRightNo {
    padding-right: 0;
}
.padLeftNo {
    padding-left: 0;
}
.title {
    background: #105caa none repeat scroll 0 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 3px 23px 34px 5px;

}
.title a {
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 0 0 3px;
    text-transform: uppercase;
    text-decoration: none;
}
.border-bt {
    border-bottom: 2px solid #105caa;
    height: 37px;
}
.list-nm {
    width: 100%;
    overflow-y: hidden;
}
.info-card {
    width: 100%;
    overflow-x: hidden;
}
.border-rb {
    border-right: 1px solid #f1f1f1;
}
.product {
    margin: 10px 0 0;
    text-align: center;
    padding: 5px 0;
}
.fixed-image {
    height: 150px;
    margin: 0 auto;
    position: relative;
    width: 150px;
}
.ldiscount {
    font-size: 11px;
    position: absolute;
    right: -40px;
    top: 52px;
    background-color: #ed1c2a;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
}
.ico-promotion {
    position: absolute;
    right: -40px;
    bottom: 60px;
    height: 19px;
    width: 77px;
    background: #105caa;
    border-radius: 3px;
    color: #fff;
    padding-top: 4px;
    font-size: 11px;
}
.product-name {
    background: #fcfcfc none repeat scroll 0 0;
    font-size: 14px;
    height: 50px;
    padding: 10px;
    overflow: hidden;
}
.product-name a, .product-name-cat3 a {
    color: #000;
    font-size: 12px;
    line-height: 145%;
}
.real-price {
    color: #105caa;
    text-decoration: none;
    text-shadow: 0 2px 0 #e9e9e9;
    transition: all .3s ease 0;
    font-size: 28px;
    letter-spacing: 0;
    font-weight: 700;
    height: 31px;
    width: 100%;
    float: left;
}
.grid-product {
    border-bottom: solid 2px #f1f1f1;
}
.border-lb {
    border-left: 1px solid #f1f1f1;
}
.border-rb {
    border-right: 1px solid #f1f1f1;
}
.product b, .relate-product b {
    margin: 5px 0!important;
    padding: 10px;
    float: left;
    width: 100%;
    background: #80B9F2 none repeat scroll 0 0;
    font-size: 13px;
    color: #424242;
    height: 32px;
}
.col-info {
    background: #105caa none repeat scroll 0 0;
    padding: 20px 0;
    width: 100.3%;
    overflow-y: hidden;
}
.info-card {
    width: 1193px;
    overflow-x: hidden;
}
.title-info {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 20px;
}
.icon-arr {
    background: rgba(0,0,0,0) url(https://lib.trananh.com.vn/img/icon.png) no-repeat scroll -57px -96px;
    display: block;
    float: left;
    height: 14px;
    width: 4px;
}
.info a {
    color: #fff!important;
    line-height: 20px;
    padding: 0 5px;
}
.mgTop {
    margin-top: 10px;
}
.tit-des-detail h1 {
    color: #23527c;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px 369px;
    text-transform: uppercase;
    line-height: 140%;
}
.modeldetail {
    color: #49494a;
    margin: 6px;
    float: left;
    width: 100%;
}
.modeldetail b {
    font-weight: 700;
    margin: 0 2px 0 0 !important;
    float: left;
}
.modeldetail a {
    float: left;
    margin: 0 6px 0 0;
}
.product-summary {
    line-height: 160%;
    height: 90px;
    overflow: hidden;
}
.tit-des-detail ul li {
    font-weight: 400;
    line-height: 18px;
}
.product-info{
  float:left;
  margin: 5px;
}
.func_stock {
    border-bottom: 1px solid #105caa;
    float: left;
    width: 100%;
    margin-top: 3px;
    padding-bottom: 3px;
}
.avaiable, .info-wan {
    float: left;
}
.price-city {
    margin: 8px 0 0;
    float: left;
}
.price-detail {
    background: #f9f9f9 none repeat scroll 0 0;
    float: left;
    margin: 10px 0 0;
    padding: 16px 0;
    text-align: center;
    width: 49%;
    min-height: 90px;
    height: auto!important;
    border-radius: 5px;
    position: relative;
}
.price-dt2 {
    color: #105caa;
}
.price3 {
    font-size: 44px;
    margin-right: -8px;
}
.info-promo {
    background: #f9f9f9 none repeat scroll 0 0;
    margin: 10px 0 0;
    padding: 10px;
    float: right;
    width: 49%;
    border-radius: 5px;
}
.ba-button {
    float: right;
    width: 100%;
}
.ba-button ul li {
    display: inline;
    float: left;
    width: 171px;
}
.tit-des-detail ul li {
    font-weight: 400;
    line-height: 18px;
}
.calltobuy {
    font-size: 12px;
    line-height: 123%;
}
.buynow {
    background: #105caa none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 14px;
    margin-top: 10px;
    padding: 9px 0;
    text-align: center;
    text-transform: uppercase;
    width: 99%;
    border-radius: 5px;
}
.buynow:hover {
    color: #fff!important;
    opacity: .8;
    text-decoration: none!important;
}
.comment-div{
  float: left;
  width: 100%;
  margin: 10px;
}
.products{
  list-style: none;
  padding: 0;
  li {
    padding: 10px;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .title {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
    margin-top: 30px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.tool-box{
  height: 100%;
  width: 19%;
  position: fixed;
  top: 90;
  bottom: -10;
  left: 0;
  z-index: 1000;
}

.tool-box .menu li a{
  color: white;
}
.tool-box .menu li a:hover{
  color: #00BFFF;
}

.tool-box .menu{
  margin-top: 10px;
}
.content{
  margin: 10px;
}
.progress, .progress-bar{
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  height: 30px;
  width: 600px;
  font-size: 18;
}
.row_content{
  width: 75%;
  position: absolute;
  margin-top: 100px;
  margin-left: 20%;
}
.navbar {
  margin-bottom: 0;
  z-index: 9999;
  border: 0;
  border-radius: 0;
  }

.gravatar {
  float: left;
  margin-right: 10px;
  max-height: 80px;
  max-width: 80px;
}

.gravatar_edit {
  margin-top: 15px;
}
