<div class="row" style="margin-top: 20px;">
    <div class="col-xs-12 bg-blue">
        <div class="col-info">
            <div class="info-card">
                <div class="col-lg-15 col-lg-3 col-sm-15 col-sm-3 col-md-15 col-md-3 col-xs-15 col-xs-3">
                    <div class="info">
                        <div class="title-info">
                            COMPANY INFO</div>
                        <ul>
                            <li><span class="icon-arr"></span><a href="">Hanoi University of Science and Technology</a></li>
                            <li><span class="icon-arr"></span><a href="">1 Dai Co Viet Road, Hanoi, Viet Nam</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
