<div class="row" style="margin-top: 20px;">
    <div class="col-xs-12 bg-blue">
        <div class="col-info">
            <div class="info-card">
                <div class="col-lg-15 col-lg-3 col-sm-15 col-sm-3 col-md-15 col-md-3 col-xs-15 col-xs-3">
                    <div class="info">
                        <div class="title-info">
                            GIỚI THIỆU CHUNG</div>
                        <ul>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/goc-van-hoa-c1140">Góc văn hóa</a></li>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/tin-khuyen-mai-c919">Tin khuyến mại</a></li>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/tin-tuc-cong-nghe-c918">Tin tức công nghệ</a></li>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/tu-van-tieu-dung-c1078">Tư vấn tiêu dùng</a></li>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/tin-cong-ty-c920">Tin công ty</a></li>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/quan-he-co-dong-c1042">Quan hệ cổ
                                đông</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-15 col-lg-3 col-sm-15 col-sm-3 col-md-15 col-md-3 col-xs-15 col-xs-3">
                    <div class="info marginL">
                        <div class="title-info">
                            HỖ TRỢ MUA HÀNG ONLINE</div>
                        <ul>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/huong-dan-mua-hang/huong-dan-mua-hang-online-tai-website-www-trananh-vn-n598">
                                Hỗ trợ mua hàng trực tuyến</a></li>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/huong-dan-thanh-toan/huong-dan-thanh-toan-n609">
                                Các hình thức thanh toán</a></li>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/tin-khuyen-mai/mua-hang-tra-gop-lai-suat-0-voi-the-sacombank-n33003">
                            Hướng dẫn mua hàng trả góp</a></li>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/khuyen-mai-tai-tran-anh/den-tran-anh-thanh-toan-hoa-don-nhan-ngay-qua-tang-n33725">
                            Thanh toán hóa đơn với Payoo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-15 col-lg-3 col-sm-15 col-sm-3 col-md-15 col-md-3 col-xs-15 col-xs-3">
                    <div class="info">
                        <div class="title-info">
                            CHÍNH SÁCH CHUNG</div>
                        <ul>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/khuyen-mai-tai-tran-anh/chinh-sach-bao-gia-san-pham-trong-vong-15-ngay-n33734">
                            Chính sách bao giá sản phẩm</a></li>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/tin-khuyen-mai/chinh-sach-doi-san-pham-loi-trong-vong-30-ngay-n33735">
                            Chính sách đổi trả sản phẩm</a></li>

                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/chinh-sach/chinh-sach-bao-hanh-tran-anh-n516">
                                Chính sách bảo hành</a></li>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/lib/Bang-bao-gia-lap-dat-dieu-hoa-nam-2016.pdf">
                                Bảng báo giá lắp đặt điều hòa</a></li>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tin-tuc/chinh-sach/chinh-sach-van-chuyen-mien-phi-toan-mien-bac-n1272">
                                Chính sách vận chuyển </a></li>


                        </ul>
                    </div>
                </div>
                <div class="col-lg-15 col-lg-3 col-sm-15 col-sm-3 col-md-15 col-md-3 col-xs-15 col-xs-3">
                    <div class="info">
                        <div class="title-info">
                            THẺ KHÁCH HÀNG</div>
                        <ul>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tablet/samsung-galaxy-tab-s2-t819y-9-7--trang-pid193146cid600#">Quy trình phát hành thẻ</a></li>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/tablet/samsung-galaxy-tab-s2-t819y-9-7--trang-pid193146cid600#">Cách tích lũy điểm thưởng</a></li>
                            <li><span class="icon-arr"></span><a href="https://www.trananh.vn/chinh-sach-diem-the-khach-hang" target="_blank">Chính sách điểm thẻ khách hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
